@use './variables.scss' as vars;

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Ubuntu', sans-serif;
  cursor: default;
  overflow-x: hidden;
}

main,
header {
  @media (min-width: vars.$tabletWidth) {
    max-width: 768px;
    margin: auto;
  }
  @media (min-width: vars.$desktopWidth) {
    max-width: 1024px;
    margin: auto;
  }
  background: #f2f2f2;
  box-shadow:
    rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
