@mixin pinkButton {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@mixin pinkButtonHoverAndFocus {
  background-color: #f082ac !important;
}
