$fontColor: #36395a;
$secondaryFontColor: #ffffff;
$primaryColor: #ffc0cbff;
$secondaryColor: #ea4c89;
$secondaryBackgroundColor: #36395a;

$successColor: #90ee90ff;
$errorColor: #f08080ff;

$tabletWidth: 768px;
$desktopWidth: 1024px;
