@use '../../utils/styles/variables.scss' as vars;
@use '../../utils/styles/mixins.scss' as mixins;

article:not(.totalGroup) {
  padding: 1.5em;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.calculator form {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

h2 {
  font-size: 18px;
  margin-bottom: 2.5em;
  color: vars.$fontColor;
  text-align: center;
  position: relative;
}

h2::after {
  content: '';
  width: 50px;
  height: 0.15em;
  background-color: vars.$primaryColor;
  position: absolute;
  bottom: -0.5em;
  border-radius: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.totalGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  z-index: 9999;
  top: 0;
  background: vars.$secondaryBackgroundColor;
  padding-top: 1em;
  padding-bottom: 2em;
  border-radius: 0 0 12px 12px;
}

.totalGroup p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  width: 100%;
  gap: 2em;

  span {
    margin-left: -2em;
    color: vars.$secondaryFontColor !important;
  }
}

.totalGroup h2 {
  color: vars.$secondaryFontColor;
}

.inputsWrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 1em;
}

.inputsWrapper div {
  display: flex;
  align-items: center;
  gap: 1em;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputGroup input {
  width: 100px;
}

.addExpense {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.addExpense form {
  width: 100%;
}

.addExpense .inputWrapper {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.addExpense input {
  width: 150px;
}

label {
  color: vars.$fontColor;
  font-style: oblique;
}

input {
  padding: 1em;
  text-align: center;
  height: 2em;
  font-size: 16px;
  color: vars.$fontColor;
  outline-color: vars.$secondaryColor;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.positive {
  color: vars.$successColor;
}

.negative {
  color: vars.$errorColor;
}

.calculator button {
  @include mixins.pinkButton();
}

.calculator button:hover,
.calculator button:focus {
  @include mixins.pinkButtonHoverAndFocus();
}
