@use '../../utils/styles/variables.scss' as vars;

header {
  box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
  padding: 0.5em;
  background: #ffffff;
}

header h1 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  background-image: linear-gradient(
    -500deg,
    #ea4c89 0%,
    #ed6d9d 29%,
    #ec87ae 67%,
    #f6c0c7 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: titleAnimation 3s ease infinite;
}

@keyframes titleAnimation {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: 0 center;
  }
}

header a {
  text-decoration: none;
}

.active {
  color: vars.$secondaryColor;
}